	{% extends "blog/base.html" %}
	
	{% block title %} Dong Labs | Post {% endblock %}

	{% block pagecontent %}
	
	<div id="posts">
		<h2>Post A Thing</h2>
		<form id="submit-box" method="POST">
			{% csrf_token %}
			<div id="submit-box">
				<label>{{ form.title.label }}</label><br />
				{{ form.title }}
			</div>
			
			<div id="submit-box">
				<label>{{ form.content.label }}</label><br />
				{{ form.content }}
			</div>
			
			<button type="submit">Fuck</button>
		
<!--		<h3>Title</h3>
			<p>box here</p>
		<h3>Content</h3>
			<p>other box here</p>-->
		</form>
	</div>
	
	{% endblock pagecontent %}