	{% extends "blog/base.html" %}	
	
	{% block title %} Dong Labs | About {% endblock %}

	{% block pagecontent %}
	
		<div id="posts">
			<div id="post-content">
				<h2>About</h2>
				<p>This is a site that is half-blog, half-django-learning-exercise and half-ongoing-project.  That the sum of the parts add up to 1.5 is an homage to the fact that I usually take on about 1.5 times as much of a project as I am comfortable with completing.</p>
				<p>I'll see this one through as far as I can, and if nothing else Django is pretty cool to fuck with.</p>
			</div>
		</div>
	
	{% endblock pagecontent %}