/* COLOR BLOTTER

Dark:		#524080

V. Light:	#d0c8e2

*/

/* --------------
	PAGE-WIDE STUFF
   -------------- */

body {
	color: #fff;
	background-color: #524080;
	background-image: url("../img/bung-ground.png");
	background-repeat: no-repeat;
	background-size: 1024px 640px;
	background-position: right top;
	text-align: center;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	}
	
div#content-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

a.button {
	
	}

/* --------------
	TITLE
   -------------- */
	
h1#title {
	font-size: 300%;
	font-family: Lora, "Times New Roman", Times, serif;
	margin: 10px;
	}
	
img#title-image {
	width: 480px;
	height: 270px;
	}
	
div#title-block {
	margin: auto;
	width: 50%;
	}
	
/* --------------
	NAVIGATION BAR
   -------------- */
	
div#navigation-bar {
	margin: 0;
	margin-bottom: 16px;
	background-color: #d0c8e2;
	height: 64px;
	}
	
ul#navigation-bar {
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

ul#navigation-bar li {
	display: block;
	float: left;
	height: 56px;
	background-color: #fff;
	margin: 0px 8px;
	font-size: 150%;
	font-family: Lora, "Times New Roman", Times, serif;
	text-align: center;
	padding: 0px 32px;
	margin-top: 8px;
	}
	
ul#navigation-bar li span {
	display: inline-block;
	vertical-align: middle;
	color: #524080;
	text-decoration: none;
	font-weight: bold;
	}
	
ul#navigation-bar li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

ul#navigation-bar li:hover {
	background-color: #ddd;
	}
	
div#login-box {
	float: right;
	height: 56px;
	padding: 4px 16px;
	margin: 0;
	display: inline-block;
	}
	
/* --------------
	MAIN CONTENT
   -------------- */

div#posts {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 5%;
	padding-right: 5%;
	}
   
div#main-content {
	background-color: #fff;
	text-align: left;
	color: #524080;
	width: 100vw;
	margin: 0 auto;
	padding: 0px 0px;
	padding-top:
	}
	
div#post-content {
	border-left: 2px #d0c8e2 solid;
	margin: 16px 24px;
	padding: 0px 24px;
	}
	
div#post-meta {
	color: #d0c8e2;
	font-size: 75%;
	}
	
div#post-meta a {
	text-decoration: none;
	color: inherit;
	}
	
div#post-meta a:hover {
	font-weight: bold;
	}
	
div#page-stamp {
	margin-top: 16px;
	width: 100%;
	text-align: center;
	color: #d0c8e2;
	font-size: 75%;
	padding-bottom: 16px;
	}

h2,h3 {
	font-family: Lora, "Times New Roman", Times, serif;
	}

/* --------------
	   PAGEBAR
   -------------- */
   
 div#pagebar {
	text-align: center;
	}
	
div#pagebar a {
	color: #524080;
	font-weight: bold;
	text-decoration: none;
	}
	
div#pagebar a:hover {
	background-color: #524080;
	color: #fff
	}
	
/* --------------
	  POST BOX
   -------------- */
   
form#submit-box {
	padding: 16px;
	border-top: 1px solid #d0c8e2;
	}
	
div#submit-box {
	padding-bottom: 8px;
	}
	
input, textarea {
	border: 1px #524080 solid;
	width: 80%;
	}

label {
	font-family: Lora;
	font-size: 125%;
	font-weight: bold;
	}
	
button {
	border: 1px #524080 solid;
	color: #fff;
	background-color: #524080;
	font-size: 125%;
	font-family: Lora;
	font-weight: bold;
	padding: 8px 24px;
	}

button:hover {
	background-color: #fff;
	color: #524080;
	}
	
button:active {
	background-color: #d0c8e2;
	}
	
/* --------------
	 FONTAZOIDS
   -------------- */
   
@font-face {
	font-family: Lora;
	src: url(fonts/Lora-Regular.ttf);
	font-weight: normal;
	}
	
@font-face {
	font-family: Lora;
	src: url(fonts/Lora-Bold.ttf);
	font-weight: bold;
	}

@font-face {
	font-family: Lora;
	src: url(fonts/Lora-Italic.ttf);
	font-weight: normal;
	font-style: italic;
	}
	
@font-face {
	font-family: Lora;
	src: url(fonts/Lora-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
	}
